body{
  background-color: #252637;
  
}
#title{
  font-size: 52px;
    font-family: 'Bungee', cursive;
}
#page{
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: #f7ae2d;
    cursor: pointer;
}
#sub{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
.proj{
    border-radius: 20px;
  border-width: 5px;
  border-color: white;
  border-style: solid;
   width: 700px;
}
center{
    font-family: 'Quicksand', sans-serif;
}
p{
  font-size: 20px;
}